<!DOCTYPE html>
<html>
  <head>
      <title></title>
<link href="/./css/style.css" rel="stylesheet">
  </head>
  <body>
   <h1><%= data.description %></h1>
  
   <div class="data-btn">
             <button onClick="window.location.href = '/users/add'">+ NEW</button>
             </div>  
  
  </body>
</html>
